main.container .content section#experience{
    visibility: hidden;
}

main.container .content section#experience.active {
    visibility: visible;
    animation: fadeInUp .3s forwards ease-in ;
}

main.container .content section#experience .container-tabs {
    display: grid;
    justify-content:center;
    grid-template-columns: 1fr 4.5fr 1fr;
}

main.container .content section#experience .container-tabs .tabs ul li {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text);
    background: var(--transparent);
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
}

main.container .content section#experience .container-tabs .tabs ul li.active {
    background: var(--secondary);
    color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


main.container .content section#experience .container-tabs .content-tabs .content {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background: var(--secondary);
    border-radius: 0px 8px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: none;
}

main.container .content section#experience .container-tabs .content-tabs .content.active {
    display: block;
    animation: fadeLeft .3s ease-in;
}

main.container .content section#experience .container-tabs .content-tabs .content h3 {
    font-size: 2rem;
    color: var(--light);
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

main.container .content section#experience .container-tabs .content-tabs .content h3 span a {
    color: var(--primary);
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
}

main.container .content section#experience .container-tabs .content-tabs .content h3 span a:after {
    content: "";
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: .3s ease-in;
}

main.container .content section#experience .container-tabs .content-tabs .content h3 span a:hover:after {
    width: 100%;
}

main.container .content section#experience .container-tabs .content-tabs .content p.date {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text);
}

main.container .content section#experience .container-tabs .content-tabs .content ul {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

main.container .content section#experience .container-tabs .content-tabs .content ul li {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .5px;
    color: var(--text);
}

main.container .content section#experience .container-tabs .content-tabs .content ul li i {
    color: var(--primary);
    margin-right: 1rem;
}